.places__image {
    grid-area: "image";
    object-fit: contain;
    box-sizing: content-box;
    margin-top: 0;
}


@media screen and (min-width: 768px) and (max-width:  1024px ) {
    .places__image {
        max-width: 440px;
        max-height: 440px;
        margin-top: 40px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .places__image {
        width: 325px;
        height: 325px;
        margin-top: 48px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 320px) {
     .places__image {
            max-width: 320px;
            max-height: 320px;
            margin-bottom: 30px;
         
    }
}
