.places__title {
    margin: 0;
    padding: 0;
    grid-area: "title";
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 440px;
}

@media screen and (max-width: 320px) {
   		.places__title  {
	         font-size: 80px;
             line-height: 109%;
            max-width:320px;
    }
}

