.places__link {
    grid-area: "website";
    color: white;
    transition-duration: 0.5s;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    max-width: 456px;
    opacity 3;
}

.place__linke:hover {
     opacity: 0;
    transition: opacity .3s ease;  
}
