@import url("../lead/__caption/lead__caption.css");
@import url("../lead/__image/lead__image.css");
@import url("../lead/__subtitle/lead__subtitle.css");
@import url("../lead/__title/lead__title.css");

.lead {
    margin: 58px auto 92px auto;
    max-width: 984px;
    max-height: 1005px;
    position: relative;
    
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        max-height: 962px;
    }
}

@media screen and (max-width: 786px) {
    .lead {
        max-width: 768px;
        max-height: 862px; 
        margin: 50px auto 88px auto;
    }
}

@media screen and (max-width: 485px) {
     .lead {
         max-width: 320px;
         max-height: 406px;
    }
}