.footer__author {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF; 
    opacity: 3;
    max-width: 168px;
    margin-left: 800px;
    margin-top: 0;

}

@media screen and (max-width: 320px) {
   		.footer__author {
            font-size: 35px;
            line-height: 100%;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
   		.footer__author {
   max-width: 168px;
            margin-left: 600px;
            margin-top: 0;
            margin-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    	.footer__author	{
            max-width: 200px;
            margin-left: 250px;
            margin-top: 0;
            margin-right: 0;
            
        
    }
}