.intro__list-points {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}


@media screen and (max-width: 320px) {
   		.intro__list-points {
            font-size: 30px;
            line-height: 150%;  
    }
}