.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 58px auto 32px auto;
    color: #fff;
    max-width: 720px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    	.lead__title	{
            justify-content: center;
            text-align: center;
            margin: 80px 30%;
            min-width: 720px;
    }
}

@media screen and (max-width: 320px) {
   	.lead__title	 {
        font-size: 100px;
        line-height: 110%%;
        margin: 50px 0 16px 0;
    }
}
