.lead__caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-left: 12%;
    color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    		.lead__caption {
                 margin-left: 14%;
    }
}

@media screen and (max-width: 320px) {
   		.lead__caption {
            margin-left: 15px;
            line-height: 140%;
            font-size: 25px;
            margin-top: 0;
    }
}