.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 2;
    margin: 0 0 32px 0;
    
}



@media screen and (max-width: 320px) {
   		.cover__title {
    font-size: 130px;
    line-height: 198%;
    margin: 0 0 16px 0;
    }
}