@import url("../footer/__author/footer__author.css");
@import url("../footer/__link/footer__link.css");
@import url("../footer/__links/footer__links.css");
@import url("../footer/__list/footer__list.css");

.footer {
    color: white;
    width: 1280px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    		.footer {
                width: 1024px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
   		.footer {
             width: 768px;
    }
}

@media screen and (max-width: 320px) {
   		.footer {
	   width: 168px;
            margin: 0;

    }
}


