.places__website {
    grid-area: "website";
    margin: 30px auto 48px;
    align-self: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    	.places__url-heading	{
            max-width: 456px;
            padding-top: 30px;
            margin: 0;
            align-self: flex-end
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
   	.places__url-heading	 {
        max-width: 352px;
        margin: 30px auto 0;
        
    }
}

@media screen and (max-width: 320px) {
   	.places__website {
         display: none;
    }
}