.places__website {
    grid-area: "website";
    align-self: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    	.places__url-heading	{
            max-width: 456px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
   	.places__url-heading	 {
            max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
   	.places__website {
         display: none;
    }
}