.places__item {
    margin: 80px 0;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 24px;
    grid-template-areas:
        "title website"
        "image paragraph"
        "image paragraph"
        "image paragraph";
}   


@media screen and (min-width: 768px) and (max-width: 1024px) {
    	.places__item {
                grid-column-gap: 32px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
   		.places__item {
            grid-column-gap: 28px;

    }
}

@media screen and (max-width: 320px) {
   		.places__item {
            grid-gap: 12px;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
            grid-template-areas:
                    "image"
                    "paragraph";
}   
    }
}
